<%- include('../partials/header.ejs') %>
<h1 class="login-title">AGREGAR PRODUCTO</h1>
<section class="editar-usuarios">
    <form action="/productos/agregar-producto/" enctype="multipart/form-data" method="post" style="display: flex;flex-direction: column;width: 100%;align-items: center;gap: 1px;">
        <label>Titulo</label>
        <input type="text" name="titulo" value="<%=titulo%>" placeholder="Ingrese titulo" required>
        <label>Costo</label>
        <input type="number" name="costo" value="<%=costo%>" placeholder="Ingrese costo" required>
        <label>Precio</label>
        <input type="number" name="precio" value="<%=precio%>" placeholder="Ingrese precio" required>
        <label>Stock</label>
        <input type="number" name="stock" value="<%=stock%>" placeholder="Ingrese stock" required>
        <label>URL Imagen</label>
        <input type="text" name="image" value="<%=image%>" placeholder="Ingrese url imagen" required>
        <label>Etiqueta/s</label>
        <input type="text" name="etiquetas" value="<%=etiquetas%>" placeholder="Ingrese una etiqueta" required>
        <button type="submit" class="btn btn-success">Agregar</button>
    </form>
</section>
<%- include('../partials/footer.ejs') %>