<%- include('../partials/header.ejs') %>
<h1 class="login-title">AGREGAR PRODUCTO</h1>
<section>
    <form action="/dashboard/productos/agregar-producto/" method="post" style="display: flex;flex-direction: column;width: 100%;align-items: center;gap: 2px;">
      <label>Titulo</label>
      <input type="text" name="titulo" placeholder="Ingrese nuevo titulo" value="<%= titulo %>">
      <label>Costo</label>
      <input type="number" name="costo" placeholder="Ingrese nuevo costo" value="<%= costo %>">
      <label>Precio</label>
      <input type="number" name="precio" placeholder="Ingrese nuevo precio" value="<%= precio %>">
      <label>Stock</label>
      <input type="number" name="stock" placeholder="Ingrese nuevo stock" value="<%= stock %>">
      <label>Imagen URL</label>
      <input type="text" name="image" placeholder="Ingrese nueva url de imagen" value="<%= image %>">
      <label>Etiquetas</label>
      <input type="text" name="etiquetas" placeholder="Ingrese nuevas etiquetas separadas por comas" value="<%= Array.isArray(etiquetas) ? etiquetas.join(',') : etiquetas %>">
      <button type="submit" class="btn btn-success">Actualizar</button>
    </form>
  </section>
<%- include('../partials/footer.ejs') %>