<%- include('../partials/header.ejs') %>
<h1 class="login-title">USUARIOS</h1>
<section class="dashboard-usuarios">
    <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
            <%- include('../partials/mensajes.ejs') -%>
            <tr>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
            <tr>
                <td><%= user.nombre %></td>
                <td><%= user.email %></td>
                <td><a href="/dashboard/usuarios/editar/<%=user.id%>">Editar</a></td>
                <td>
                    <form action="/usuarios/eliminar/<%=user.id%>" method="post">
                        <input type="submit" name="email" value="ELIMINAR">
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</section>
<%- include('../partials/footer.ejs') %>