<%- include('../partials/header.ejs') %>
<h1 class="login-title">EDITAR USUARIO</h1>
<section class="editar-usuarios">
    <form action="/usuarios/editar/<%=user.id%>" method="post">
        <input type="text" name="nombre" value="<%=user.nombre %>" placeholder="ingresar nuevo nombre">
        <input type="email" name="email" value="<%=user.email %>" placeholder="ingresar nuevo email">
        <button type="submit">Actualizar</button>
    </form>
</section>
<%- include('../partials/footer.ejs') %>