<%- include('../partials/header.ejs') %>
<section class="product-section">
    <h1 class="login-title">CATÁLOGO DE PRODUCTOS</h1>
    <%- include('../partials/sidebar.ejs') %>
    <div class="products-container">
    <% productos.forEach(producto => { %>
       <div class="product-prueba"> 
        <img src="<%= producto.image %>">
        <p><%= producto.titulo %></p>
        <a href="/producto/<%= producto.id%>">agregar</a>
      </div>
        <% }) %> 
    </div> 
</section>
<%- include('../partials/footer.ejs') %>