<%- include('../partials/header.ejs', { carritoLength: carritoLength }) %>
<h1 class="login-title">CATÁLOGO DE PRODUCTOS</h1>
<%- include('../partials/mensajes.ejs') %>
<section class="products-section">
  <div class="product-category">
    <h3>CATEGORÍAS</h3>
    <form method="get" action="/productos">
        <input name="buscar" value="Perro" type="submit">
        <input name="buscar" value="Gato" type="submit">
        <input name="buscar" value="Accesorios" type="submit">
        <input name="buscar" value="Pulguicida" type="submit">
        <input name="buscar" value="Pipeta" type="submit">
      </form>
  </div>
  <div class="products-container">
  <% productos.forEach(producto => { %>
    <a href="/producto/<%= producto._id %>" class="card-enlace-primer-carousel">
      <div class="card producto-card-primer-carousel" style="width: 16rem;">
        <img src="<%= producto.image %>" class="card-img-top" alt="<%=productos.titulo%>">
        <div class="card-body">
          <h5 class="card-title primer-carousel-titulo"><%= producto.titulo %></h5>
          <p class="card-text primer-carousel-precio">$<%= parseFloat(producto.precio).toFixed(2) %></p>
          <form action="/carrito" method="post" id="formulario-carrito">
            <input type="hidden" id="input-producto-id" name="agregar" value="<%= producto._id %>">
            <input type="hidden" name="titulo" value="<%= producto.titulo %>">
            <input type="hidden" name="precio" value="<%= producto.precio %>">
            <input class="btn btn-primary" type="submit" value="Agregar al carrito">
          </form>
         
        </div>
      </div>
    </a>
  <% }) %>
  </div>
</section>

<%- include('../partials/footer.ejs') %>