<%- include('../partials/header.ejs', { carritoLength: carritoLength }) %>
<h1 class="login-title"><%= producto.titulo %></h1>
<%- include('../partials/mensajes.ejs') %>
<section class="product-section">
        <img src="<%= producto.image %>">
        <div class="details-container">
            <span class="random-number-product">Nuevo | +<%= randomNumber %> vendidos</span>
            <h2><%= producto.titulo %></h2>
            <p>Precio: <span class="product-span">$ <%= parseFloat(producto.precio).toFixed(2) %></span></p>
            <a href="/pagos" class="medios-pago-product" target="_blank">Ver medios de pago</a>
            <p>Stock: <span class="product-span"><%= producto.stock %> (unidades)</span></p>
            <i class="bi bi-truck"> Consultá costo de <a href="/envios" target="_blank">envío</a></i>
            <i class="bi bi-arrow-left-right"> Devolución gratis</i>
            <form action="/carrito" method="post" id="formulario-carrito">
                <input type="hidden" id="input-producto-id" name="agregar" value="<%= producto._id %>">
                <input type="hidden" name="titulo" value="<%= producto.titulo %>">
                <input type="hidden" name="precio" value="<%= producto.precio %>">
                <input class="btn btn-primary" type="submit" value="Agregar al carrito">
              </form>
            <div class="etiquetas-div">
                <p>Etiquetas:</p>
                <p><%= producto.etiquetas %></p>
            </div>            
        </div>
</section>
<%- include('../partials/footer.ejs') %>