<%- include('../partials/header.ejs') %>
<section>
    <h1 class="login-title">PRODUCTOS</h1>
    <%- include('../partials/sidebar.ejs') %>
    <% datos.forEach((dato) => { %>
        <p><%= dato.titulo %></p>
        <p><%= dato.precio %></p>
        <!-- Otros campos -->
      <% }) %>
</section>
<%- include('../partials/footer.ejs') %>