<%- include('../partials/header.ejs') %>
<h1 class="login-title"><%= producto.titulo %></h1>
<section class="product-section">
        <img src="<%= producto.image %>">
        <div class="details-container">
            <span class="random-number-product">Nuevo | +<%= randomNumber %> vendidos</span>
            <h2><%= producto.titulo %></h2>
            <p>Precio: <span class="product-span">$ <%= producto.precio %></span></p>
            <a href="/pagos" class="medios-pago-product">Ver medios de pago</a>
            <p>Stock: <span class="product-span"><%= producto.stock %> (unidades)</span></p>
            <i class="bi bi-truck"> Consultá costo de <a href="/envios">envío</a></i>
            <i class="bi bi-arrow-left-right"> Devolución gratis</i>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
            <div class="etiquetas-div">
                <p>Etiquetas:</p>
                <p><%= producto.etiquetas %></p>
            </div>            
        </div>
</section>
<%- include('../partials/footer.ejs') %>